<% provide(:title, 'All users') %>
<h1>Index of all users</h1>
<%= will_paginate %>

<ul class="users">
  <% #rails assumes that @users should be interated trough %>
  <% #rails automatically uses _user.html.erb to render each user's list details %>
    <%= render @users %>
</ul>

<%= will_paginate %>
