<footer class="footer">
	<small>
		saheba following Hartl's Rails Tutorial
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About', '#' %></li>
			<li><%= link_to 'Contact', '#' %></li>
			<li>News</li>
		</ul>
	</nav>
</footer>